@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Generic */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    font-size: 12px;
    background-color: #ecf0f3;
    color: #a0a5a8;
}

main {
    /* min-height: 600px;
    height: 600px; */
    padding: 25px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    main {
        transform: scale(0.7);
    }
}

@media (max-width: 1000px) {
    main {
        transform: scale(0.6);
    }
}

@media (max-width: 800px) {
    main {
        transform: scale(0.5);
    }
}

@media (max-width: 600px) {
    main {
        transform: scale(0.4);
    }
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
input[type="number"] {
    width: 350px;
    height: 40px;
    margin: 10px 0;
    padding-left: 25px;
    font-size: 16px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
input[type="number"]:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}
label{
    color:#181818;
    font-size: 15px;

}
button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
}
.container {
   margin-top: 20px;
}
h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
}
p{
    font-size: 18px;
    color:#4b70e2;
    font-weight: 600
}

p > span {
    font-size: 16px;
    color: green;

}


